<!DOCTYPE html>
<html>
  <head>
    <title>Flaskr</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
  </head>
  <body class="container">
    <nav>
      <ul>
        <li>Flaskr</li>
      </ul>
      <ul>
        {% for message in get_flashed_messages() %}
        <li>
          <ins class="mark">
            {{ message }}
            <span
              class="closebtn"
              onclick="this.parentElement.style.display='none';"
              >&times;</span
            >
          </ins>
        </li>
        {% endfor %} {% if not session.logged_in %}
        <li><a href="{{ url_for('login') }}">log in</a></li>
        {% else %}
        <li><a href="{{ url_for('logout') }}">log out</a></li>

        {% endif %}
      </ul>
    </nav>
    <h1>Flaskr-TDD</h1>
    {% block body %}{% endblock %} {% if session.logged_in %}
    <details>
      <summary>Create new note</summary>
      <form action="{{ url_for('add_entry') }}" method="post">
        <div class="grid">
          <label for="title"
            >Title
            <input type="text" id="title" name="title" placeholder="Title" />
          </label>
          <label for="text">Text</label>
          <textarea name="text" rows="5" cols="40"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </details>
    {% endif %} {% for entry in entries %}

    <article class="entry">
      <header id="{{ entry.id }}">{{ entry.title }}</header>
      {{ entry.text|safe }}
    </article>

    {% else %}
    <article>No entries yet. Add some!</article>
    {% endfor %}
    <script
      type="text/javascript"
      src="{{url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>
