<!DOCTYPE html>
<html>
  <head>
    <title>Flaskr-TDD | Login</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
  </head>
  <body class="container">
    <nav>
      <ul>
        <li>Flaskr</li>
      </ul>
      <ul>
        {% if not session.logged_in %}
        <li><a href="{{ url_for('login') }}">log in</a></li>
        {% else %}
        <li><a href="{{ url_for('logout') }}">log out</a></li>
        {% endif %}
      </ul>
    </nav>
    <h1>Login</h1>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block body %}{% endblock %} {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <form action="{{ url_for('login') }}" method="post">
      <div class="grid">
        <label for="username"
          >Username
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
          />
        </label>
        <label for="password"
          >Password
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
